body {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr minmax(0px, 340px) minmax(0px, 340px) 1fr;
}

img,
iframe,
video {
  max-width: 100%;
}

nav {
  grid-row: 1;
  grid-column-start: 2;
  grid-column-end: 4;
}

main {
  grid-row: 3;
  grid-column-start: 2;
  grid-column-end: 4;
}

.footer {
  grid-row: 4;
  grid-column-start: 2;
  grid-column-end: 4;
}

.sidebar {
  grid-row: 2;
  grid-column-start: 2;
  grid-column-end: 4;
}

.sidebar div {
  display: inline-block;
}

.sidebar p:first-of-type {
  font-size: 1.15em;
}

.sidebar p {
  margin: 0;
  text-align: justify;
  width: 100%;
}

.sidebar img {
  border-radius: 0.5em;
  margin-right: 0.2em;
  width: 42px;
}

@media(min-width: 600px) {
  nav {
    grid-row: 1;
    grid-column: 3;
  }

  .sidebar {
    grid-row: 1;
    grid-column: 2;
  }
}

@media(min-width: 1000px) {
  nav {
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .sidebar {
    grid-row: 3;
    grid-column: 1;
    width: 175px;
    justify-self: center;
  }

  .sidebar p:first-of-type {
    margin-top: 0.5em;
    font-size: 1.15em;
  }

  .sidebar img {
    width: 100%;
    border-radius: 1em;
  }
}
