<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/octo.css" | relURL }}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <div class="sidebar">
    <img src="/images/profile.jpg" />
    <div>
      <p>Florian Stellbrink</p>
      <p class="subtitle">Software Developer</p>
    </div>
  </div>

  <body>
    <nav>
      {{ range .Site.Menus.main }}
      <a class="underline" href="{{ .URL | relURL }}">{{ .Name }}</a>
      {{ end }}
    </nav>
