{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

<main>
  {{ .Content }}
</main>

<div class="footer">
  {{ range .Site.RegularPages.GroupByDate "2006" }}
  {{ $page := index .Pages 0 }}
  <h2>{{ .Key }}</h2>
  <div class="card-grid">
    {{ range .Pages.ByDate }}
    <a class="card" href="{{ .Permalink }}">
      <img src="/images/{{ .Param "teaser" }}" style="display: block"></img>
      <div class="card-body">
        <h3>{{ .Title }}</h3>
        <p class="subtitle card-text">{{ .Summary }}</p>
      </div>
    </a>
    {{ end }}
  </div>
  {{ end }}
</div>

{{ partial "footer.html" . }}
